* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-kerning: auto;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: rgb(125, 130, 135);
}

a:visited {
  text-decoration: none;
  color: rgb(125, 130, 135);
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

.container {
  /* max-width: 1264px; */
  width: 100vw;
  height: 100%;
  padding-top: 50px;
  display: flex;
}
